
<div class="edit-registration-frame">

  <%= render 'partial/header_new_edit' %>

  <div class="edit-registration-container">

    <div class="edit-registration-container-inner">
      <p>ユーザー情報を修正します</p>
      <%= render 'partial/edit_registration_form' %>
    </div>

  </div>
</div>
