<div class="new-registration-frame">

  <%= render 'partial/header_new_edit' %>

  <div class="new-registration-container">

    <div class="new-registration-container-inner">
      <%= render 'partial/registration/new_registration_form' %>
    </div>
  </div>

</div>
