
<div class="destroy-registration-frame">

  <%= render 'partial/header_new_edit' %>

  <div class="destroy-registration-container">

    <div class="destroy-registration-container-inner">
      <%= render 'check_form' %>
    </div>

  </div>
</div>
