#error_explanation h2 {
  margin: 5px;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px;
  background-color: #FE2370;
}

.alert {
  margin: 5px;
  border-radius: 5px;
  font-size: 12px;
  background-color: #FE2370;
}

.alert li {
  padding: 5px;
  list-style: none;
}
