
<div class="new-match-frame">

  <%= render 'partial/header/header_new_edit' %>

  <div class="new-match-container">

    <div class="new-match-container-inner">

      <%= render 'partial/match/new_match_form' %>
    </div>
  </div>
</div>


