.destroy-registration-frame {
  width: 100%;
}

.destroy-registration-container {
  width: 100%;
}

.destroy-registration-container-inner {
  margin: 0 auto;
  color: white;
  background-color: black;
  padding: 50px;
  min-height: 750px;
}

//削除ユーザー情報メッセージ
.registration-kakunin-message {
  margin-bottom: 25px;
}

.registration-name,
.registration-email,
.registration-image,
.registration-introduction,
.registration-genre,
.registration-password {
  margin: 5px;
  border-radius: 5px;
  border: dashed 2px#FE2370;
}

.registration-genre {
  padding-bottom: 15px;
}

//場所名ラベル
.registration-name-label,
.registration-email-label,
.registration-image-label,
.registration-introduction-label,
.registration-genre-label,
.registration-password-label {
  display: block;
  font-size: 12px;
  margin: 5px;
}

//ジャンルラベル
.registration-genre-label {
  margin-bottom: 10px;
}

//場所名テキスト
.registration-name-input,
.registration-email-input,
.registration-image-input,
.registration-introduction-input,
.registration-genre-check,
.registration-password-input {
  margin-left: 5px;
  margin-bottom: 10px;
  height: auto;
  font-size: 12px;
}

.registration-image-input img {
  width: 300px;
  height: 200px;
}

.registration-genre-label {
  font-size: 12px;
}

.registration-genre label {
  font-size: 12px;
}

.action {
  width: 50%;
  height: 50px;
  background-color: #F7FAFA;
  border-radius: 5px;
  margin-top: 20px;
  text-align: center;
}

.actions-link {
  text-decoration: none;
  font-size: 13px;
  color: black;
  line-height: 50px;
}




/* 800px以下に適用されるCSS（スマホタブレット用） */
@media screen and (max-width: 800px) {
  .destroy-registration-container-inner {
    padding: 5px;
  }

  .action {
    width: 95%;
  }
}
