<div class="edit-place-frame">

  <%= render 'partial/header/header_new_edit' %>

  <div class="edit-place-container">

    <div class="edit-place-container-inner">
      <%= render 'partial/place/edit_place_form' %>
    </div>

  </div>
</div>
