
<div class="new-place-frame">

  <%= render 'partial/header_new_edit' %>

  <div class="new-place-container">

    <div class="new-place-container-inner">
      <%= render 'partial/new_place_form' %>
    </div>

  </div>
</div>


